# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

Clinica_debug.html
Clinica_error.html
Clinica_report.html
Clinica_trace.html

gradle.properties
.gradle/
build/
*.class
*.log
*.iml
.idea/
.DS_Store